{
  "presets": [
    ["es2015", { "modules": false }],//recat-zmage
    "stage-0",//react-zmage
    "env",
    "react"
  ],
  "plugins": [
    [
      "import",// 按需引入antd 组件和css
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true  //是否解析antd less
      }
    ],
    ["transform-class-properties"],//属性初始化器语法
    ["transform-object-rest-spread"],// ...操作符
    [ "add-module-exports"]//react-zmage
  ]
}